html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    
}

body {
    margin: 0;
    background-color: rgba(0,0,0, .05)
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

h1 {
    font-size: 5.6em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 4.2em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 3.15em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 2.3625em;
}

p {
    font-size:1.6em;
    margin: 0;
}

.hero {
    background-color: rgba(0, 0, 155, .1);
    height: 20rem;
}

.container {
    display: flex;
}

.title > h1 {
    color: rgba(0, 0, 0, .59);
    font-size: 2em;
    font-weight: 300;
    text-transform: capitalize;
}

.title {
    padding: 2em 4em;
    width: 20em;
    background-color: rgba(0,0,155, .1)
}

.content {
    display: flex;
}

.content > div {
    width: 35em;
    padding: 2em;
}

/* Color */

.color {
    width: 10em;
    height: 10em;
}

.white {
    background-color: rgb(255, 255, 255);
}

.black-59 {
    background-color: rgba(0, 0, 0, .59);
}

.black-100 {
    background-color: #000;
}

.primary-light {
    background-color: #ff5a36;
}

.primary-color {
    background-color: #ff0000;
}

.primary-dark {
    background-color: #c20000;
}


/* BUTTONS */

.btn {
    padding: .4em 2em;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ff0000;
    color: white;
    font-weight: 600;
}

.btn-primary {

}

.btn-secondary {

}

.btn-cta {

}