html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    
}

body {
    margin: 0;
    background-color: rgba(0,0,0, .05)
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

h1 {
    font-size: 5.6em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 4.2em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 3.15em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 2.3625em;
}

p {
    font-size:1.6em;
    margin: 0;
}

.hero {
    background-color: rgba(0, 0, 155, .1);
    height: 20rem;
}

.container {
    display: flex;
}

.title > h1 {
    color: rgba(0, 0, 0, .59);
    font-size: 2em;
    font-weight: 300;
    text-transform: capitalize;
}

.title {
    padding: 2em 4em;
    width: 200px;
}

.content {
    position: relative;
    display: flex;
}

.content > div {
    width: 35em;
    margin: 2em;
}

.content > .buttons {
    width: 100%;
}

/* Color */

.color {
    width: 10em;
    height: 10em;
}

.white {
    background-color: rgb(255, 255, 255);
}

.black-59 {
    background-color: rgba(0, 0, 0, .59);
}

.black-100 {
    background-color: #000;
}

.primary-light {
    background-color: #ff5a36;
}

.primary-color {
    background-color: #ff0000;
}

.primary-dark {
    background-color: #c20000;
}


/* BUTTONS */

.btn { /* default - domyślny */
    padding: .6em 1em;
    font-size: 1.6em;
    border: 1px solid rgba(0,0,0,.39);
    border-radius: 4px;
    color: rgba(0,0,0,.79);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0,0,0,.1);
    border-color: #000;
}

.btn-primary {
    border-color: blue;
    background-color: rgb(51, 122, 183);
    color: white;
}

.btn-primary:hover {
    background-color: rgb(30, 78, 121);
    border-color: rgb(0, 0, 73);
}

.btn-cta {
    border-color:#ff0000;
    background-color: #ff5a36;
    color: white;
}

.btn-cta:hover {
    border-color:#6e0000;
    background-color: #b83b1e;
}


